form {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;

}
#userlbl, #passlbl {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#username, #password {
    text-align: center;
    border-radius: 10px;
    height: 30px;
    width: 250px;

}
input[type="text"]::placeholder {
    text-align: center; 
}
input[type="password"]::placeholder {
    text-align: center; 
}

#login{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 250px;

}
#signup{
    
    font-size: 11px;
    width: 100px;
    height: 28px;
}
#forgetpass{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: grey;
}