<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <form>
          <label id="userlbl">USERNAME</label><br>
          <input type="text" id="username" placeholder="Username">
        <br>
         <label id="passlbl">PASSWORD</label><br>
         <input type="password" id="password" placeholder="Password">
       <br><br>
         <a id="forgetpass" href="">Forget your password?</a><br>
         <ion-button shape="round" id="login" color="success">LOGIN</ion-button><br>
         <ion-button shape="round" id="signup" color="warning">SIGN UP</ion-button> 
    </form>

</ion-content>


